.tops {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #6a6f6a; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.lftpan {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.lftpan:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.lftpan1 {
	FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.comp {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WORD-SPACING: 2px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.formhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #b6dbff; TEXT-DECORATION: none
}
.label {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #d4eaff; TEXT-DECORATION: none
}
.textboxes1 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 10pt; BORDER-LEFT: black 1px groove; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.fields {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 10pt; BORDER-LEFT: black 1px groove; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.buttons1 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: black 1px groove; COLOR: black; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #dbe9f8; TEXT-DECORATION: none
}
.bottom {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.help {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.text-sm {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; FONT-FAMILY: arial,ms sans serif,Verdana; TEXT-DECORATION: none
}
.buttons {
	BORDER-RIGHT: #a7a7a7 1px solid; BORDER-TOP: #a7a7a7 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #a7a7a7 1px solid; COLOR: #333333; BORDER-BOTTOM: #a7a7a7 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f3f3e0; text-: none
}
.welcome {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #657ca9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.text-bg {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5; TEXT-DECORATION: none
}
.details {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5; TEXT-DECORATION: none
}
.lt-text {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: ms sans serif,Verdana; TEXT-DECORATION: none
}
.labelCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e7f1fb; TEXT-DECORATION: none
}
.formheadCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #cbe5fd; TEXT-DECORATION: none
}
.It-text1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.It-text1 A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.It-text1 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.It-text1 A:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.label1 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.label1 A:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.label1 A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.label1 A:hover {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.orangelink1 {
	FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangelink1 A:active {
	FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangelink1 A:visited {
	FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.orangelink1 A:hover {
	FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.orangelink {
	FONT-SIZE: 11px; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.labelcopy2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.labelcopy2 A:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.labelcopy2 A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.labelcopy2 A:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.heads {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #04519f; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d0e0f1; TEXT-DECORATION: none
}
.subheads {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006699; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f1f8ff; TEXT-DECORATION: none
}
.normallabel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f1f8ff; TEXT-DECORATION: none
}
.error {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
